/* Reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* Main style */
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.8em;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin:10px 0 ;
}

/*     **********************NAVBAR***********      */
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}
.navbar{
    background-color: #333;
    overflow: auto;
}
.navbar a{
    color: #fff;
}
.navbar h1{
    float: left;
    padding-top: 20px;
}
.navbar ul{
    list-style:none;
    float: right;
}
.navbar li{
    float: left;

    
    
}
.navbar ul li a{
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar ul li a:hover,
.navbar ul li a.current{
    color:tomato;
    background-color: #555;
}


/*     **********************NAVBAR END***********      */

/* SHOWCASE AREA */
#showcase{
    background-image: url(../images/showcase.jpg);
    background-repeat: no-repeat;
    background-position:center cover;
    height: 500px;
}
#showcase .showcase-container .showcase-content{
    color: #fff;
    text-align: center;
}
.showcase-content{
    padding-top:160px;
}
#showcase .showcase-container .showcase-content h1{
    font-size: 50px;
    line-height: 1.2em;
}
#showcase .showcase-container .showcase-content p{
    padding-bottom:20px;
    line-height: 1.5em;
}
.text-primary{
    /* color:#f7c08a; */
    color: tomato;
}
.lead{
    font-size: 20px;
}


/* *******************Button*******************   */
.btn{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    background-color: #333;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;

}
.btn:hover{
    color:#fff;
    background-color:tomato;
}
.btn-light{
    background-color: #f4f4f4;
    color: #333;
}

/*   **************Button********************   */


/*   ****************Home-info*******************  */
#home-info{
    height: 400px;
}
#home-info .info-img{
    float: left;
    width: 50%;
    background-image: url(../images/photo-1.jpg);
    background-repeat: no-repeat;
    min-height: 100%;

}
#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align:center;
    padding: 50px 30px;
    overflow: hidden;
}
/* Bg color  */
.bg-dark{
    background-color: #333;
    color: #fff;
}
.bg-primary{
    background-color: #f7c08a;
    /* background-color: tomato; */
    color: #fff;

}
.clr{
    clear: both;
}
/* Bg color End   */
.info-content p{
    padding-bottom: 30px;
}


/*   ****************Home-info END*******************  */

/* feacture   Box  */
.box{
    float: left;
    width: 33%;
    padding: 50px;
    height: 300px;
    text-align: center;
}

/******** Icon Color Change */
/* .fa-dumbbell{
    color:;
} */

.box i{
    padding-bottom: 10px;
}
/* feacture   Box END */

/* About Info */
.info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}
.info-right{
    float:right;
    width:50%;
    min-height: 100%;
    
}
.info-right img{
    /* display: block; */
    width: 70%;
    margin:auto;
    border-radius: 50%;

}
.l-heading{
    font-size: 40px;
}
.py-1{
    padding: 10px 0;
}
.py-2{
    padding: 20px 0;
}
.py-3{
    padding:30px 0;
}

/*********************************** testimonial *********************************/
#testimonials{
    height: 550px;
    background-image: url(../images/test-bg.jpg);
    background-repeat: no-repeat;
    background-position:center cover;
    padding-top:40px;
    opacity:0.9;
}
.testimonial img{
    width: 100px;
    float: left;
    padding:10px;
    margin-right:20px;
    border-radius: 50px;
}
#testimonials h1{
    color: #fff;
    text-align: center;
    padding-top:10px;
}
.testimonial p{
    padding-left:20px;
}
.bg-primary2{
    background-color: #f7c08a;
    color: #333;
}
.testimonial {
    padding: 10px;
    margin-bottom:30px;
    
}
/* Footer  */
footer{
    background-color: #555;
    color: #fff;
    padding:10px;
    
    text-align: center;
}
footer a{
    color: #fff;
}